<div class="row mb-1 me-0 custom-border">
  <!--  Details article-->
  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="row text-center">
      <div class="col-md-11">{{ ligneOrder.article?.codeArticle }}</div>
    </div>
  </div>

  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-12 text-center">
        {{ligneOrder.article?.designation}}
      </div>
    </div>
  </div>

  <div class="col-md-2 custom-border-right mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-12 text-center">
        {{ligneOrder.quantite}}
      </div>
    </div>
  </div>

  <div class="col-md-2 custom-border-right mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-12 text-center">
        {{ligneOrder.prixUnitaire}}
      </div>
    </div>
  </div>

  <div class="col-md-2 mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        {{ ligneOrder.prixUnitaire && ligneOrder.quantite ? +ligneOrder.prixUnitaire * +ligneOrder.quantite : '' }}
      </div>
    </div>
  </div>
</div>
