<div class="col">
  <ng-container *ngIf="(articles$ | async) as articles">
    <div class="row m-3">
      <div class="col-md-8 p-0">
        <h2>Liste des articles</h2>
      </div>
      <div class="col-md-4 text-end">
        <app-button-actions (clickEvent)="newArticle()"></app-button-actions>
      </div>
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>
    </div>
    <div class="row">
      <div class="col m-3">
        <app-article-item *ngFor="let article of articles; trackBy: trackBy" [articleDto]="article" (deleteResult)="handleDelete($event)"></app-article-item>
      </div>
    </div>
    <div class="row m-3" *ngIf="articles?.length > 0">
      <div class="col-md-12 text-center">
        <app-pagination></app-pagination>
      </div>
    </div>
  </ng-container>
</div>
