<div class="container my-container">
  <div class="card justify-content-center">
    <div class="card-body">
      <h3 class="card-title text-center">S'inscrire</h3>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" placeholder="Nom">
        <label for="floatingName">Nom</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingTaxCode" placeholder="Code fiscal">
        <label for="floatingTaxCode">Code fiscal</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingEmail" placeholder="E-mail">
        <label for="floatingEmail">E-mail</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingAddress1" placeholder="Adresse 1">
        <label for="floatingAddress1">Adresse 1</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingAddress2" placeholder="Adresse 2">
        <label for="floatingAddress2">Adresse 2</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingCity" placeholder="Ville">
        <label for="floatingCity">Ville</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingCode" placeholder="Code postal">
        <label for="floatingCode">Code postal</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingCountry" placeholder="Pays">
        <label for="floatingCountry">Pays</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Mot de passe">
        <label for="floatingPassword">Mot de passe</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirmer Mot de passe">
        <label for="floatingConfirmPassword">Confirmer Mot de passe</label>
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <button type="button" class="btn btn-link" routerLink="/login">Se connecter</button>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-check"></i>&nbsp;
          S'inscrire
        </button>
      </div>
    </div>
  </div>
</div>

