<div class="col mb-3">
  <div class="col-md-12">
    <div class="col-md-12 mb-3 mt-3">
      <h2>Nouvelle commande {{origin}}</h2>
    </div>
    <!--<div class="alert alert-danger" *ngIf="errorMsg.length">-->
      <!--<div *ngFor="let msg of errorMsg">-->
        <!--<span> {{ msg }}</span>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row p-3 custom-border">
      <div class="col-md-5 custom-border-right">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" name="codeCmd" placeholder="Code commande" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Date commande">
          </div>
          <div class="form-group">
            <select class="form-control" name="cltFrs">
              <option>Selectionner un </option>
              <!--<option *ngFor="let obj of listClientsFournisseurs" [ngValue]="obj">-->
                <!--{{ obj.nom }}&nbsp;{{ obj.prenom }}-->
              <!--</option>-->
            </select>
          </div>
        </form>
      </div>
      <div class="col-md-5 custom-border-right" >
        <div class="col">
          <div class="row">
            <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
            <div class="col-md-10">Nom</div>
          </div>
          <div class="row">
            <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
            <div class="col-md-10">Prenom</div>
          </div>
          <div class="row">
            <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
            <div class="col-md-10"> Tel </div>
          </div>
          <div class="row">
            <div class="col-md-1"><i class="fas fa-hourglass-half blue-color"></i></div>
            <div class="col-md-10 text-primary">EN PREPARATION</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <img [src]="'assets/product.png'" class="rounded-circle" width="150px"
             height="150px" />
      </div>
    </div>
    <div class="row mt-2 p-3 custom-border">
      <form class="row">
        <div class="col-auto">
          <label for="codeAtricle" class="visually-hidden">Code article</label>
          <input type="text" id="codeAtricle" class="form-control" placeholder="Code article" >
          <div *ngIf="false" class="autocomplete shadow p-3 mb-5 bg-white rounded">
            <p class="p-1">
              codeArticle &nbsp; designation
            </p>
          </div>
        </div>
        <div class="col-auto">
          <label for="Quantite" class="visually-hidden">Quantite</label>
          <input type="text" class="form-control" placeholder="Quantite" id="Quantite" >
        </div>
        <div class="col-auto">
          <label for="price" class="visually-hidden">Prix unitaire</label>
          <input type="text" class="form-control" id="price" placeholder="Prix unitaire">
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-success mb-3"><i class="fas fa-plus"></i></button>
        </div>
      </form>
    </div>
    <div class="row mt-2 p-3 custom-border" style="max-height: 300px;overflow-y: scroll">
      <div class="col-md-12">
        <app-cmd-item></app-cmd-item>
        <app-cmd-item></app-cmd-item>
        <app-cmd-item></app-cmd-item>
      </div>
    </div>
    <div class="row mt-2 p-3 custom-border ">
      <div class="col-md-12 text-right">
        <h3>Total de la commande: 0</h3>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-end mt-2">
    <button class="btn btn-danger me-3" (click)="cancelClick()">
      <i class="fas fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary">
      <i class="fas fa-save"></i>&nbsp;
      Enregitrer
    </button>
  </div>

</div>

